* {
margin: 0px;
padding: 0px;
box-sizing: border-box;
}

.header {
font-size: 35px;
text-align: center;
}

/*-----------------------------------------#212131--------------------------button code----   <-   ->   ------*/
.nextprev ul{
	position:absolute;
	top:10%;
	left:90%;
	transform:translate(-50%,-50%);
	margin:0;
	padding:0;
	display:flex;
	
}
.nextprev ul li{
	list-style:none; 
	width:80px;
	height:80px;
	background:#262626;
	margin:0 10px;
border-radius:50%;
transition:0.5s;

	
}
.nextprev ul li:hover{
	background:#0070ff;
}
.nextprev ul li span{
	position: absolute;
	width:20px;
	height:20px;
	border:4px solid #fff;
	transition:0.5s;/*run it*/
	background:black;/*to cange to black at <> this color*/

}
.nextprev ul li.next span{
	top: 50%;
	right:20%;
	transform:translateY(-50%)rotate(-45deg);/*diamond 1 2 3 4....4th one boxline disappears run it*/
	border-left:none;
	border-top:none;

}
.nextprev ul li.next:hover span{
	right:16%;/*runit added after ul li.next:hover span:before{*/
	background:#0070ff;/*to cange to black at <> this color*/
}
.nextprev ul li.next span:before{
	content:'';
position:absolute;
width:38px;
height:4px;
background:#fff;/*run*/          /*run*/
transform-origin:right;
transform:rotate(45deg) translate(0px,25px)scaleX(0);  /*run*/
transition:0.5s;

}
.nextprev ul li.next:hover span:before{
transform:rotate(45deg) translate(0px,25px)scaleX(1);   /*run*/
}

/*copy paste for prev and run it change right:20% toleft and border left to rght ,and top to bottom*/
.nextprev ul li.prev span{
	top: 50%;
	left:20%;
	transform:translateY(-50%)rotate(-45deg);
border-right:none;
border-bottom:none;
}
.nextprev ul li.prev:hover span{
left:16%;/*runit added after ul li.next:hover span:before{*/
background:#0070ff;/*to cange to black at <> this color*/
}
.nextprev ul li.prev span:before{
	content:'';
position:absolute;
width:38px;
height:4px;
background:#fff;/*run*/          /*run*/
transform-origin:left;/*chaned to left line align to this <*/
transform:rotate(45deg) translate(-2px,-1px)scaleX(0);  /*run*/
transition:0.5s;
}
.nextprev ul li.prev:hover span:before{
transform:rotate(45deg) translate(-2px,-1px)scaleX(1);   /*run*/
}
/*-------------------------------------------------------------------till here button code----   <-   ->   ------*/

#array {
background-color:black;
height: 305px;
width: 598px;
margin: auto;
position: relative;
margin-top: 64px;
}

.block {
width: 28px;
background-color: #ED7014;
position: absolute;
bottom: 0px;
transition: 0.2s all ease;
}

.block_id {
position: absolute;
color: white;
margin-top: -20px;
width: 100%;
text-align: center;
}
.button {
  background-color:  #6f459e;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color:white; 
  color: black; 
  border: 2px solid #6f459e;
}

.button1:hover {
  background-color:  #6f459e;
  color: white;
}
.button2 {															
  background-color:white; 
  color: black; 
  border: 2px solid #6f459e;
}

.button2:hover {
  background-color: #6f459e;
  color: white;
}
.button3 {
  background-color:white; 
  color: black; 
  border: 2px solid #6f459e;
}

.button3:hover {
  background-color: #6f459e;
  color: white;
}
.button4 {
  background-color:white; 
  color: black; 
  border: 2px solid #6f459e;
}

.button4:hover {
  background-color: #6f459e;
  color: white;
}
.button5 {
  background-color:white; 
  color: black; 
  border: 2px solid #6f459e;
}

.button5:hover {
  background-color: #6f459e;
  color: white;
}